DirectoryIndex index.php

RewriteEngine on 
Options -Indexes
RewriteCond $1 !^(index\.php|resources|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all other URLs to index.php/URL
RewriteRule .* index.php/$0 [PT]
Header append X-FRAME-OPTIONS "SAMEORIGIN"
Header set Access-Control-Allow-Origin "*"


#RewriteRule assets/images/(.*)$ https://localhost/kahani/welcome/saraswathi/$1 [R=301,L]
#RewriteRule assets/images/(.*)$ /welcome/saraswathi/$1 [R=301,L]


RewriteCond  %{DOCUMENT_ROOT}/assets/images/%{SCRIPT_FILENAME}  -f
RewriteRule  ^(.*)$  /assets/images/$1  [L,QSA]

#   second try to find its in another directory
#   ...and if found, stop and display it
RewriteCond  %{DOCUMENT_ROOT}/assets/default/%{SCRIPT_FILENAME}  -f
RewriteRule  ^(.*)$  /assets/default/$1  [L,QSA]