body{
    padding:0px;
}
.nav-up{
    top: 0px;
}
ul.list-inline li{
    padding-left:0;  
    padding-right:0;
}
ul.dropvk li{
    width:30.33%;
}
ul.dropvk li a{
  text-align:center;
}
.noselect{  
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
.content {
  padding: 16px;
}

/* 2nd nav bar  dropdown */
/*Nav bar profile dropdown */
.navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
    position: absolute;
    right: 0;
    left: auto;
}
/*end Nav bar profile dropdown */

.scrollable-menu {
    overflow-x: hidden;
    width:200px;
    max-height:300px;
}
.resizable{
    font-size:15px;
}
.control-sidebar-menu>li>a {
    display: block;
    padding: 10px 15px;
}

.navbar-static-top{
    padding-top:60px;
    z-index:1;
    height:110px;
    transition: all .3s ease-in-out;
   -webkit-transition: all .3s ease-in-out;
}
.navbar-static-top1{
    padding-top:60px;
    z-index:1;
    height:110px;
    transition: all .3s ease-in-out;
   -webkit-transition: all .3s ease-in-out;
}
.navbar-nav>li>a {
    padding-top: 16px;
    padding-bottom: 15px;
}

.sticky {
  position: fixed;
  padding-top:60px;
  width: 100%;
  height:110px;
  transition: all .3s ease-in-out;
   -webkit-transition: all .3s ease-in-out;
}
		.sticky1 {
  position: fixed;
  padding-top:0px;
  top:0;
  width: 100%;
  height:50px;
  transition: all .3s ease-in-out;
   -webkit-transition: all .3s ease-in-out;
}

.sticky + .content {
  padding-top: 60px;
}
.imgs{
    width:293px;
    height:280px;
}



.content-wrapper{
    margin-left:0!important;
}


.storeadpt{
        margin-top:0px;
    }
.profile-imgm{
        display:none;
    }
 

.imageThumb {
	cursor: pointer;
	width: 293px;
	height:280px;
}
.pip {
	display: inline-block;
	border-radius: 5px
}
.remove {
	display: block;
	background: #23678e;
	color: white;
	text-align: center;
	cursor: pointer;
	margin-top: 0px;
}





.control-sidebar-heading{font-weight:400;font-size:16px;padding:10px 0;margin-bottom:10px}
.control-sidebar-subheading{font-weight:400;font-size:14px;width: 195px;
    -webkit-line-clamp: 1;
    display: block;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;}

.control-sidebar-menu{list-style:none;padding:0;margin:0 -15px}
.control-sidebar-menu>li>a:before,.control-sidebar-menu>li>a:after{content:" ";display:table}
.control-sidebar-menu>li>a:after{clear:both}
.control-sidebar-menu>li>a:before,.control-sidebar-menu>li>a:after{content:" ";display:table}
.control-sidebar-menu>li>a:after{clear:both}
.control-sidebar-menu>li>a>.control-sidebar-subheading{margin-top:0}
.control-sidebar-menu .menu-icon{float:left;width:35px;height:35px;border-radius:50%;text-align:center;line-height:35px}
.control-sidebar-menu .menu-info{margin-left:45px;margin-top:3px}
.control-sidebar-menu .menu-info>.control-sidebar-subheading{margin:0}
.control-sidebar-menu .menu-info>p{margin:0;font-size:11px}
.bg-light-blue, .label-primary, .modal-primary .modal-body {
    background-color: #3c8dbc !important;
    color:rgb(255, 255, 255);
}


@media screen and (max-width:647px){
    .navbar-static-top{
        z-index:1;
    }
    .navbar-nav {
        margin: 3.5px -15px;
    }
    .nav>li>a {
    position: relative;
    display: block;
    padding: 14px 10px;
    }
}
@media screen and (max-width:350px){
    .nav>li>a {
    position: relative;
    display: block;
    padding: 15px 10px;
    }
}
@media screen and (max-width:1050px){
    .navbar-static-top{
        /*top:-100px!important;*/
        z-index:1;
        padding-top: 60px;
    }
    .navbar-nav{
        margin:0!important;
    }
    .sticky1 {
      position: fixed;
      top:0;
      width: 100%;
      transition: all .3s ease-in-out;
      -webkit-transition: all .3s ease-in-out;
      z-index:9999;
      padding-top: 0px;
    }
    .font-size-label{
        padding-right:0!important;
    }
    
    .sticky + .content {
      padding-top: 60px!important;
    }
    .pd-10-0{
        padding-left:0;
        padding-right:0;
    }
    .imgs{
        width:293px!important;
        height:280px;
    }
    
    .navbar-nav {
        margin: 0!important;
    }
    .pt-5{
        padding-top:5px!important;
    }
    .sidebox-i-c{
        width:100%;
    }
}